@import './_colors.scss';
@import './_fonts.scss';


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-primary;

    .quote__container {
        display: flex;
        flex-direction: row;
        width: 450px;
            
            .quote__container__div {
                padding: 20px;
            }

            .quote__image__p{
            font-size: 9px;
            }
        
            .quote__text {
            font-size: 24px;
            }
            .quote__author {
            font-size: 18px;
            }
    }
    .button {
    color: white;
    font-size: $font-size-primary;
    }    
    .button__generate {
    background-color: $button_generate_bg_color;
    }
    .button__share {
    background-color: $button_share_bg_color;
    }
    
};

